.custom-check-box {
    display: block;
}

.custom-check-box input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.custom-check-box label {
    position: relative;
    cursor: pointer;
}

.custom-check-box input:checked ~ label:before {
    content: '';
    -webkit-appearance: none;
    background-color: #22a290;
    border: 2px solid #22a290;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
.custom-check-box input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.select-all-tab{
    &.custom-check-box label:before {
        content: '';
        -webkit-appearance: none;
        background-color: #b4bfd2!important;
        border: 2px solid #b4bfd2!important;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 8px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
    }
    .custom-check-box input:checked+label:after {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 7px;
        width: 6px;
        height: 9px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

